.Container1 {
    display:flex;
    justify-content: center;
}

.column {
    height: 100vh;
    width: 350px;
    margin-bottom: 50px;
}

.one {
    flex-grow: .25;
    overflow-y: scroll;
    overflow: hidden;
}

.two {
    flex-grow: .75;
    overflow-y: scroll;
    background-color: rgba(17, 3, 15, 0.5);
    overflow: hidden;
}

h2 {
    color: mistyrose;
    text-align: center;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: rgb(255, 250, 146);
}

.card-body {
    color: mistyrose;
    display: flex;
    flex-direction: column;
}

.card-title {
    color:  plum;
}

.separator {
    margin: auto;
    align-items: center;
    text-align: center;
    width: 400px;
}

#text {
    background-color: mistyrose;
    opacity: 75%;
    box-sizing: border-box;
    width: 100%;
}

.gem-bundles {
    background-color: rgba(87, 69, 138, 0.75);
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(63, 31, 67, 0.75);
}

.gem-bundles2 {
    background-color: rgba(138, 95, 69, 0.75);
    border-radius: 25px;
    border-style: solid;
    border-width: 3px;
    border-color: rgba(255, 233, 106, 0.75);
}

.divider {
    display:flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    text-align: center;
    height: 600px;
    width: 850px;
}

.purchase-box {
    background-color: rgb(255, 228, 225, 0.75);
}

.purchase-body {
    color: rgba(87, 69, 138, 0.75);
}

.submit-button {
    color: mistyrose;
    background-color: rgba(87, 69, 138, 0.75);
    border-radius: 20px;
}

.getorderhistory {
    display: flex;
    justify-content: right;
}

.orderhistorybutton {
    color: rgba(232, 206, 233, 0.75);
    background-color: rgba(87, 69, 138, 0.75);
    border-radius: 20px;
    border-width: 3px;
    border-color: blueviolet;
}

.orderhistorybutton:hover {
  background-color: rgba(137, 119, 185, 0.75);
  color: rgba(251, 193, 233, 0.75);
  border-color: rgba(66, 9, 152, 0.7);
  border-radius: 20px;
  border-width: 3px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    counter-reset: rowNumber;
  }

table tr::before {
    display: table-cell;
    counter-increment: rowNumber;
    content: counter(rowNumber) ".";
    padding-right: 0.3em;
    text-align: right;
  }

  .gem-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .owner-title {
    margin-bottom: 20px;
  }

  .gem-bundles:hover {
    background-color: rgb(176, 124, 160, .9);
    color: rgba(112, 63, 95, 0.9);
    border-color: rgba(159, 89, 134, 0.7);
    border-style: solid;
    border-radius: 25px;
    border-width: 2px; 
  }

  .gem-bundles2:hover {
    background-color: rgba(255, 222, 73, 0.75);
    color: rgba(112, 63, 95, 0.9);
    border-color: rgba(163, 86, 10, 0.7);
    border-style: solid;
    border-radius: 25px;
    border-width: 3px;
  }

  .divider {
    display: flex;
    flex-direction: column;
  }

  .grid-container {
    background-color: rgb(242, 242, 242, .6);
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 100px;
    color: rgba(87, 69, 138, 0.95);
    width: 800px;
  }

  .flex-container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: underline;
  }

  .flex-container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10px;
  }

  .order-header {
    color: rgba(87, 69, 138, 0.95);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(87, 69, 138, 0.4);
  }

  .form-control {
    color: rgb(87, 69, 138, 0.95);
    border-radius: 10px;
    text-align: center;
  }

  .item6 {
    padding-right: 12px;
  }

  .item7 {
    padding-right: 40px;
  }

  .item8 {
    padding-right: 48px;
    padding-left: 10px;
  }


  .item9 {
    padding-right: 0px;
  }

  .item10 {
    padding-right: 0px;
    padding-left: 10px;
  }

  .modal-content {
    background-color: rgb(242, 242, 242, .85);
    border: 1px solid lightgrey;
    border-radius: 10px;
  }

  .modal-header{
    padding-left: 150px;
  }

  td {
    width: 145px;
    padding-left: 20px;
    margin-right: 100px;
    text-align: left;
  }

  .table-heading-off {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 580px;
    text-align: center;
    margin-right: 75px;
    margin-left: 40px;
  }

  .td1 {
    margin-left: 60px;
    padding-left: 45px;
  }

  .td2 {
    padding-left: 40px;
    padding-right: 20px;
  }

  .td3 {
    margin-right: 25px;
  }

  .table-heading1 {
    margin-left: 40px;
    padding-left: 20px;
    padding-right: 15px;
  }

  .table-heading2 {
    padding-right: 42px;
  }
  
  .table-heading3 {
    padding-right: 20px;
    padding-left: 15px;
  }