<app-navbar *ngIf="betting"></app-navbar>

<h2 *ngIf="(!betting) && (BattleMode == 'Friend')">Opponent Name: {{Opponent}}</h2>
<h2 *ngIf="(!betting) && (BattleMode == 'Random')">Random Opponent</h2>
<h2 *ngIf="(!betting) && (BattleMode == 'Boss')">Boss Opponent</h2>
<section class="container6" *ngIf="!betting">
    <div class="stats-container">
        <div class="player-stats"> MatchLength: {{maxRoundCount}}</div>
        <div class="player-stats"> RoundCount: {{roundCount}}</div>
        <div class="player-stats"> LoseStreak: {{LoseStreak}}</div>
        <div class="player-stats"> Win Count: {{WinStreak}}</div>
    </div>
</section>


<section class="container1" *ngIf="!betting">
	<div class="card-wrapper" *ngFor="let com of OpponentRoster">
        <div *ngIf="!com.hasBattled">
            <div class="cardhead">
                <img class="all-cosminis" src="../assets/Pics/{{com.image}}">
            </div>
    
            <div class="cardbody bg-dark">
                <h5 *ngIf="com.nickname" class="card-title">Nickname: {{com.nickname}}</h5>
                <h5 *ngIf="!com.nickname" class="card-title">Species: {{com.speciesNickname}}</h5>
                <h6 class="card-title"> Mood: {{com.mood}}</h6>
                <h6 class="card-title"> Hunger: {{com.hunger}}</h6>
            </div>
        </div>
    </div> 
</section>

<section class="container2" *ngIf="!betting">
	<div class="column one">
		<h1>Your Cosmini</h1>
		<img class="battle-cosmini" src="../assets/Pics/{{PlayerCosmini2Battle.image}}" *ngIf="PlayerCosmini2Battle.image">
        <img class="battle-cosmini" src="../assets/Pics/mystery-opponent.png" *ngIf="!PlayerCosmini2Battle.image">
	</div>  
	<div class="column two">
        <button type="button" class="btn cashout-button btn-light" (click)="CashOut()" *ngIf="Picking">Cash Out</button>
		<h1>VS</h1>
		<button type="button" class="btn battle-button btn-light" (click)="ConfirmingPick()" *ngIf="Picking">BATTLE</button>
    <button type="button" class="btn battle-button btn-light" (click)="ICanStopAnyTimeIWant()" *ngIf="Lost || Won || CashedOut">Go Back Home</button>
	</div>
	<div class="column three">
		<h1>Opponent Cosmini</h1>
		<img class="battle-cosmini" src="../assets/Pics/mystery-opponent.png">
	</div>
</section>

<section class="container3" *ngIf="!betting">
	<div class="card-wrapper" type="button" *ngFor="let com of PlayerRoster" (click)="PlayerChoosesCosmini(com)">
        <div *ngIf="!com.hasBattled">
            <div class="cardhead">
                <img class="all-cosminis" src="../assets/Pics/{{com.image}}">
            </div>
    
            <div class="cardbody bg-dark">
                <h5 *ngIf="com.nickname" class="card-title">{{com.nickname}}</h5>
                <h5 *ngIf="!com.nickname" class="card-title">{{com.speciesNickname}}</h5>
                <h6 class="card-title"> Mood: {{com.mood}}</h6>
                <h6 class="card-title"> Hunger: {{com.hunger}}</h6>
            </div>
        </div>
    </div>
</section>

<section class="container4" *ngIf="!betting">
    <h2>Your Team</h2>
</section>

<section class="container5" *ngIf="betting">
    <div class="mini-background">
        <h1>Betting Phase</h1>
        <div class="betting-container">
            <input type="text" [(ngModel)]="PlayerGoldBet"> 
            <button type="button" class="btn game-button btn-light" (click) = "ConfirmBet()">Place Bet</button>
        </div>
    </div>
</section>
