<app-navbar></app-navbar>
<section class="container1">
	<h1>Battle a Random Friend!</h1>
	<h1>Battle a Random Stranger!</h1>
</section>
<section class="container2">
    <div class="image-container1">
	   <img src="../../assets/Pics/friend-opponent.png" class="battle-button1" (click)="BattleFriend()" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button">
    </div>
    <div class="image-container2">
       <img src="../../assets/Pics/mystery-opponent.png" class="battle-button2" (click)="BattleRandom()" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button">
    </div>
</section>
<button class="battle-button3" (click)="BattleBoss()">TEMP</button>
<div class="title">How to Play</div>
<ul>
	<li>Battle a Random Friend or a Random stranger!</li>
	<li>Life is a patch of bramble, why not put your savings on the line?</li>
	<li>Pick the Cosmini that you want to send into battle!</li>
	<li>LET THEM FIGHT! The most well-cared-for Cosmini shall be the victor.</li>
	<li>You lose everything after losing two rounds.</li>
	<li>The longer you go, the stronger the opponent, the bigger the cash-out.</li>
	<li>You can cash out any time, it is okay, we understand that you are just poor.</li>
</ul>

