<app-navbar></app-navbar>
<section class="Container1">
    <div class="row1 CosminisGo InvisibleBox">
        <img src="../../assets/Pics/battle!.png" (click)="gotoBattleSelect()" class="BButton" type="button">
        <img src="../../assets/Pics/fittedcosmini-meteor.png" (click)="GoAway()" class="GoButton" type="button">
    </div>
    <div class="row1 Shop InvisibleBox">
        <img src="../../assets/Pics/shop-icon.png" (click)="gotoShop()" class="shop-icon" type="button">
    </div>
    <div class="row1 UserProfilePortal InvisibleBox">
        <img src="../../assets/Pics/userprofile.png"  type="button" (click)="gotoUserProfile()" class="userprof">
    </div>
</section>
<section class="Container1">
    <div class="row2 AllCosminis InvisibleBox">
        <img src="https://cdn.discordapp.com/attachments/1004455177165754508/1008556176868376596/comsimihome.png" (click)="GoBabies()" class="SeeAllCosminis" type="button">
    </div>
    <div class="row2 InvisibleBox">
        <img src="../../assets/Pics/{{displayCosmini.image}}" class="show-case" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button">
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Companion Interactions!</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Here you can interaction with your companion... Set their nickname, or you can pet or feed them!
                        <input type="text" [(ngModel)]="enteredName" placeholder="Set Nickname here..." class="companionName">
                        <select class="FoodChoice" [(ngModel)]="foodChoice" id="Choice-number"> 
                            <option value="1" id="Choice-zero">Chili</option>
                            <option value="2" id="Choice-one">Cold Cut</option>
                            <option value="3" id="Choice-two">'Special' Salad</option>
                            <option value="4" id="Choice-three">Marshmallow</option>
                            <option value="5" id="Choice-four">Holy Water</option>
                            <option value="6" id="Choice-five">Devil Fruit</option>
                        </select>
                    </div>
                        <div class="modal-footer"> 
                        <button class="btn btn-primary" (click)="setNickname(enteredName)" type="button">Set Nickname</button>    
                        <button type="button" class="btn btn-primary" (click)="pettingOurBaby()">Pet</button>    
                        <button type="button" class="btn btn-primary" (click)="feedingOurBaby(foodChoice)">Feed</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row2 BeanNebula InvisibleBox">
        <img src="https://cdn.discordapp.com/attachments/1004455177165754508/1008485384809889862/justtheneb2.png" (click)="smellingHandler()" class="fartButton" type="button">
    </div>
</section>