<section class="NavContainer">
    <div class="NavLeft">
        <div type="button" (click)="gotoHome()" class="NavLeft home-button btn-light">Cosminis</div>
        <p *ngIf="Loggedin()">username: {{currentUsernickname}}</p>
    </div>    
    <div class="NavMiddle">
        <div class="child-container">
            <div class="midchild" *ngIf="Loggedin()">Eggcount: {{userEgg}}</div>
            <div class="midchild" *ngIf="Loggedin()">Gold: {{userGold}}</div>
            <div class="midchild" *ngIf="Loggedin()">Gems: {{userGems}}</div>
       
        </div>
        <div class="child-container">
            <div class="midchild" *ngIf="Loggedin()">Sp: {{SpicyFoodCount}}</div>
            <div class="midchild" *ngIf="Loggedin()">Le: {{LeafyFoodCount}}</div>
            <div class="midchild" *ngIf="Loggedin()">Co: {{ColdFoodCount}}</div>
            <div class="midchild" *ngIf="Loggedin()">Fl: {{FluffyFoodCount}}</div>
            <div class="midchild" *ngIf="Loggedin()">Bl: {{BlessedFoodCount}}</div>
            <div class="midchild" *ngIf="Loggedin()">Cu: {{CursedFoodCount}}</div>
        </div>
        <div class="child-container">
            <div class="midchild"> CompanionMood: {{DisplayCompanionMood}}</div>
            <div class="midchild"> CompanionHunger: {{DisplayCompanionHunger}}</div>
            <img src="../assets/Pics/note1.png" type="button" (click)="Song1()" class="note"> 
            <img src="../assets/Pics/note2.png" type="button" (click)="Song2()" class="note">                      
        </div>
    </div>
    <div class="NavRight">
        <button *ngIf="Loggedin()" type="button" (click)="Logout()" class="btn btn-light">Logout</button>
        <button *ngIf="Loggedin()" type="button" (click)="buySomeGems()" class="btn gems btn-light">Purchase Gems</button>
    </div>
</section>